<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Fruta</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"/>
    <link type="text/css" rel="stylesheet" href="css/slick.css"/>
    <link type="text/css" rel="stylesheet" href="css/slick-theme.css"/>
    <link type="text/css" rel="stylesheet" href="css/nouislider.min.css"/>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link type="text/css" rel="stylesheet" href="css/style.css"/>
</head>
<body>
<div th:replace="~{fragments/header.html :: header}"></div>
<form th:object="${fruit}" method="post" th:action="@{/salvar/{editar_ou_cadastrar}(editar_ou_cadastrar=${'cad'})}" enctype="multipart/form-data">
    <input type="hidden" th:field="*{id}" />
    Nome: <input type="text" th:field="*{name}" />
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"> </span> <br />
    Descrição: <input type="text" th:field="*{description}" /><br />
    Preço: <input type="text" th:field="*{price}" /><br />
    Categoria: <input type="text" th:field="*{category}" /><br />
    Imagem: <input type="file" name="file" >
    <button type="submit">Salvar</button>
</form>
<div th:replace="~{fragments/footer.html :: footer}"></div>

<script src="js/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/slick.min.js"></script>
<script src="js/nouislider.min.js"></script>
<script src="js/jquery.zoom.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
